<link rel="stylesheet" href="../../css/cards.css">
    <div class="card" onclick="location.href='/post/{{data.category}}'">
        <img class="dp" src="../../images/{{data.image}}" alt="">
            <div class="center">
                <h1 class="categoryc">{{data.category}}</h1>
            </div>
            <div class="center">
                <h1 class="titlec">{{data.title}}</h1>
            </div>
            <div class="center">
                <h1 class="datec">Kanik Kapoor | {{data.date}} </h1>
            </div>
    </div>
